<div class="add_post">
    <h3>Add Post</h3> 
    <form ng-submit="submitFrom()" name="addPost">
        <fieldset>
            <input type="number" ng-model="userId" name="userId" placeholder="Id" required />
        </fieldset>
        <fieldset>
            <input type="text" ng-model="title" name="title" placeholder="Title"  required/>
        </fieldset>
        <fieldset>
            <textarea ng-model="body" name="body" placeholder="description" required></textarea>
        </fieldset>
        <button type="submit">Submit</button>
             
    </form>

</div>