<input type='text' class="searchinput" ng-model='searchText' placeholder="Search by title " />
<ul class="post_list">
    <li key="{{$index}}" ng-repeat="post in posts | filter:searchText:title">
        <h3> {{post.title}}</h3>
        <p> {{post.body | limitTo:100}} {{post.body.length > 100 ? '...': ''}}</p>
        <a ui-sref="comments({Id: post.id})">comment</a>
 
    </li>         
</ul> 
 
        <a ui-sref="newpost" class="add_post_button">Add Post</a>
 