<ul class="post_list">
        <li ng-repeat="comments in commentList | limitTo: 3">
            <h3> {{comments.name}} <span>{{comments.email}}</span></h3>
            <p> {{comments.body}}</p>  
        </li>         
    </ul> 
 