*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

}

.custom-row {
    width: 100%;
    margin: auto;
    padding-top: 20px;
    max-width: 630px;
    font-size: 14px;
}
.post_list{
    list-style: none;

}
.post_list li{
    background: #f5f5f5;
    padding: 15px;
    margin-bottom: 28px;
    border: #f0f0f0 1px solid;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    border-radius: 6px;
}

.post_list li h3{
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 10px;
}
.post_list li h3 span{
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding-top: 7px;
}
.post_list li a{
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    background: blue;
    text-decoration: none;
    margin-top: 18px;
    border-radius: 5px;
}

.searchinput{
    width: 100%;
    background: #fff;
    border: 0;
    box-shadow: 0 0 9px rgba(0,0,0,0.2);
    border-radius: 5px;
    line-height: 45px;
    padding: 0 20px;
    margin-bottom: 30px;
}

.add_post_button{
    position: fixed;
    right: 10px;
    top: 10px;
    background: blue;
    padding: 10px 20px;
    border-radius: 7px;
    color: #fff;
    text-decoration: none;
}

form{
    border: 0;
    background: #f2f2f2;
    padding: 30px;
    border-radius: 5px;
}

form fieldset{
    border: none;
    padding-bottom: 20px;
}

form fieldset input{
    width: 100%;
    background: #fff;
    border: 0;
    box-shadow: 0 0 9px rgba(0,0,0,0.2);
    border-radius: 5px;
    line-height: 45px;
    padding: 0 20px;
}

form fieldset textarea{
    width: 100%;
    background: #fff;
    border: 0;
    box-shadow: 0 0 9px rgba(0,0,0,0.2);
    border-radius: 5px;
    line-height: normal;
    height: 150px;
    resize: none;
    padding:  20px;
}

button{
    width: 100%;
    height: 50px;
}